---
const {
  size = "md",
  className = ""
} = Astro.props;

const iconSize = size === "sm" ? "h-4 w-4" : "h-5 w-5";
const links = [
  {
    label: "Instagram",
    href: "https://www.instagram.com/chiplee_theperforma/",
    path: "M12 2.2c3.2 0 3.6 0 4.9.1 1.2.1 1.9.2 2.3.4.6.2 1 .4 1.5.9.5.5.7.9.9 1.5.2.4.3 1 .4 2.3.1 1.3.1 1.7.1 4.9s0 3.6-.1 4.9c-.1 1.2-.2 1.9-.4 2.3-.2.6-.4 1-.9 1.5-.5.5-.9.7-1.5.9-.4.2-1 .3-2.3.4-1.3.1-1.7.1-4.9.1s-3.6 0-4.9-.1c-1.2-.1-1.9-.2-2.3-.4-.6-.2-1-.4-1.5-.9-.5-.5-.7-.9-.9-1.5-.2-.4-.3-1-.4-2.3C2.2 15.6 2.2 15.2 2.2 12s0-3.6.1-4.9c.1-1.2.2-1.9.4-2.3.2-.6.4-1 .9-1.5.5-.5.9-.7 1.5-.9.4-.2 1-.3 2.3-.4 1.3-.1 1.7-.1 4.9-.1zm0 1.8c-3.1 0-3.5 0-4.8.1-1.2.1-1.8.2-2.2.3-.5.2-.8.3-1.2.7-.4.4-.6.7-.7 1.2-.2.4-.3 1-.3 2.2-.1 1.3-.1 1.7-.1 4.8s0 3.5.1 4.8c.1 1.2.2 1.8.3 2.2.2.5.3.8.7 1.2.4.4.7.6 1.2.7.4.2 1 .3 2.2.3 1.3.1 1.7.1 4.8.1s3.5 0 4.8-.1c1.2-.1 1.8-.2 2.2-.3.5-.2.8-.3 1.2-.7.4-.4.6-.7.7-1.2.2-.4.3-1 .3-2.2.1-1.3.1-1.7.1-4.8s0-3.5-.1-4.8c-.1-1.2-.2-1.8-.3-2.2-.2-.5-.3-.8-.7-1.2-.4-.4-.7-.6-1.2-.7-.4-.2-1-.3-2.2-.3-1.3-.1-1.7-.1-4.8-.1zm0 3.1a4.9 4.9 0 1 1 0 9.8 4.9 4.9 0 0 1 0-9.8zm0 1.8a3.1 3.1 0 1 0 0 6.2 3.1 3.1 0 0 0 0-6.2zm6.2-2.1a1.1 1.1 0 1 1 0 2.2 1.1 1.1 0 0 1 0-2.2z"
  },
  {
    label: "Facebook",
    href: "https://www.facebook.com/people/Chipleetheperforma/61572970724635/",
    path: "M13.2 21v-7.2h2.4l.4-2.8h-2.8V9.2c0-.8.2-1.4 1.4-1.4H16V5.3c-.2 0-1-.1-2-.1-2 0-3.3 1.2-3.3 3.4V11H8.4v2.8h2.3V21h2.5z"
  },
  {
    label: "YouTube",
    href: "https://www.youtube.com/@chipleetheperforma",
    path: "M10 15l5.2-3L10 9v6zm12-8.4a2.9 2.9 0 0 0-2-2C18.2 4 12 4 12 4s-6.2 0-8 .6a2.9 2.9 0 0 0-2 2C1.4 8.4 1.4 12 1.4 12s0 3.6.6 5.4a2.9 2.9 0 0 0 2 2c1.8.6 8 .6 8 .6s6.2 0 8-.6a2.9 2.9 0 0 0 2-2c.6-1.8.6-5.4.6-5.4s0-3.6-.6-5.4z"
  },
  {
    label: "SoundCloud",
    href: "https://soundcloud.com/chipleetheperforma",
    path: "M4.5 14.5h1.2v4H4.5v-4zm2.2-2h1.2v6H6.7v-6zm2.2-3h1.2v9H8.9v-9zm2.2 1h1.2v8h-1.2v-8zm2.2-2h1.2v10h-1.2v-10zm2.2 3h1.2v7h-1.2v-7zm2.2-1.3A3.8 3.8 0 0 1 23 14a3.8 3.8 0 0 1-3.8 3.8H19v-1.4h.2a2.4 2.4 0 1 0 0-4.8c-.7 0-1.4.3-1.8.8z"
  }
];
---
<div class={`flex items-center gap-3 ${className}`}>
  {links.map((link) => (
    <a
      href={link.href}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={link.label}
      class="inline-flex h-9 w-9 items-center justify-center rounded-full border border-white/25 bg-black/30 text-white/80 transition hover:border-gold/50 hover:text-gold"
    >
      <svg viewBox="0 0 24 24" fill="currentColor" class={iconSize} aria-hidden="true">
        <path d={link.path}></path>
      </svg>
    </a>
  ))}
</div>
